<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>案件信息公开</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<link rel="stylesheet" href="/css/12309/common.css">
	<link rel="stylesheet" href="/css/12309/ajxxgk.css">
	<script src="/lib/jquery-1.11.1.min.js"></script>
	<script src="/js/12309/ajxxgk.js"></script>
	<!--[if lt IE 9]>
	<script src="/lib/html5shiv.js"></script>
	<script src="/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="bg_all"></div>
	<div class="container w1200">
		<div class="bgfff pd26_20">
			<ul id="region" class="dqfb">
				<li><a href="javascript:;" value="gj">最高人民检察院</a></li>
				<li><a href="javascript:;" value="bj">北京</a></li>
				<li><a href="javascript:;" value="tj">天津</a></li>
				<li><a href="javascript:;" value="heb">河北</a></li>
				<li><a href="javascript:;" value="sxa">山西</a></li>
				<li><a href="javascript:;" value="nmg">内蒙古</a></li>
				<li><a href="javascript:;" value="ln">辽宁</a></li>
				<li><a href="javascript:;" value="jl">吉林</a></li>
				<li><a href="javascript:; "value="hlj">黑龙江</a></li>
				<li><a href="javascript:; "value="sh">上海</a></li>
				<li><a href="javascript:; "value="js">江苏</a></li>
				<li><a href="javascript:; "value="zj">浙江</a></li>
				<li><a href="javascript:; "value="ah">安徽</a></li>
				<li><a href="javascript:; "value="fj">福建</a></li>
				<li><a href="javascript:; "value="jx">江西</a></li>
				<li><a href="javascript:; "value="sd">山东</a></li>
				<li><a href="javascript:; "value="hen">河南</a></li>
				<li><a href="javascript:; "value="hub">湖北</a></li>
				<li><a href="javascript:; "value="hun">湖南</a></li>
				<li><a href="javascript:; "value="gd">广东</a></li>
				<li><a href="javascript:; "value="gx">广西</a></li>
				<li><a href="javascript:; "value="han">海南</a></li>
				<li><a href="javascript:; "value="cq">重庆</a></li>
				<li><a href="javascript:; "value="sc">四川</a></li>
				<li><a href="javascript:; "value="gz">贵州</a></li>
				<li><a href="javascript:; "value="yn">云南</a></li>
				<li><a href="javascript:; "value="xz">西藏</a></li>
				<li><a href="javascript:; "value="sxb">陕西</a></li>
				<li><a href="javascript:; "value="gs">甘肃</a></li>
				<li><a href="javascript:; "value="qh">青海</a></li>
				<li><a href="javascript:; "value="nx">宁夏</a></li>
				<li><a href="javascript:; "value="xj">新疆</a></li>
				<li><a href="javascript:; "value="jsbt">兵团</a></li>
			</ul>
		</div>
		<div class="pd26 ajbIcon">
			<dl class="dl1">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon1.png"
						 alt=""></a></dt>
				<dd><a href="" target="_blank">案件程序性信息查询</a></dd>
			</dl>
			<dl class="dl2">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon2.png"
						 alt=""></a></dt>
				<dd><a href="">申请阅卷/会见</a></dd>
			</dl>
			<dl class="dl3">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon3.png"
						 alt=""></a></dt>
				<dd><a href="">提供证据材料</a></dd>
			</dl>
			<dl class="dl4">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon4.png"
						 alt=""></a></dt>
				<dd><a href="">要求听取意见</a></dd>
			</dl>
			<dl class="dl5">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon5.png"
						 alt=""></a></dt>
				<dd><a href="">申请变更（解除）强制措施</a></dd>
			</dl>
			<dl class="dl6">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon6.png"
						 alt=""></a></dt>
				<dd><a href="">申请自行收集证据材料</a></dd>
			</dl>
			<dl class="dl7">
				<dt><a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/icon7.png"
						 alt=""></a></dt>
				<dd><a href="">申请收集（调取）证据材料</a></dd>
			</dl>
		</div>
		<div class="bgfff zyaj pd26">
			<div class="channel_tit1">
				<h4></h4>
				<a target="_blank" href="javascript:;" class="more" onclick="renderTo('zdajxx')">更多>></a>
			</div>
			<div class="zyaj_bottom">
				<div class="w336 mr26 fl">
					<div class="ajtit1 bg">最高检/省级院</div>
					<ul class="list_ul">
						<CMSPRO_DOCUMENTS id="imp_1" DOCUMENTTYPE="0|1|2|3" NUM="5" STARTPOS="0" CHANNELCODE="">

						</CMSPRO_DOCUMENTS>
					</ul>
				</div>
				<div class="w336 mr26 fl">
					<div class="ajtit1 bg2">分州市院</div>
					<ul class="list_ul">
						<CMSPRO_DOCUMENTS id="imp_2" DOCUMENTTYPE="0|1|2|3" NUM="5" STARTPOS="0" CHANNELCODE="">

						</CMSPRO_DOCUMENTS>
					</ul>
				</div>
				<div class="w336 fl">
					<div class="ajtit1 bg3">县区院</div>
					<ul class="list_ul">
						<CMSPRO_DOCUMENTS id="imp_3" DOCUMENTTYPE="0|1|2|3" NUM="5" STARTPOS="0" CHANNELCODE="">

						</CMSPRO_DOCUMENTS>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bantp">
			<a target="_blank" href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>"><img src="../../images/12309/ajxxgk/yfbm.png"
				 alt=""></a>
		</div>
		<div class="flwsgk bgfff pd26">
			<div class="tab">
				<div class="channel_tit1 channel_tit2">
					<h4></h4>
				</div>
				<div class="channel_tit3">
					<a target="_blank" href="javascript:;" class="active">起诉书</a>
					<a target="_blank" href="javascript:;" class="">抗诉书</a>
					<a target="_blank" href="javascript:;" class="">不起诉决定书</a>
					<a target="_blank" href="javascript:;" class="xsss">刑事申诉复查决定书</a>
					<a target="_blank" href="javascript:;" class="noMargin">其他法律文书</a>
				</div>
				<div class="tab-content tab-content3">
					<div class="tab-pane on">
						<ul class="list_ul">
							<CMSPRO_DOCUMENTS id="law_1" DOCUMENTTYPE="0|1|2|3" NUM="6" STARTPOS="0" CHANNELCODE="">

							</CMSPRO_DOCUMENTS>
						</ul>
						<a href="javascript:;" class="more" target="_blank" onclick="renderTo('zjxflws')">更多>></a>
					</div>
					<div class="tab-pane">
						<ul class="list_ul">
							<CMSPRO_DOCUMENTS id="law_2" DOCUMENTTYPE="0|1|2|3" NUM="6" STARTPOS="0" CHANNELCODE="">

							</CMSPRO_DOCUMENTS>
						</ul>
						<a href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>" class="more" target="_blank">更多>></a>
					</div>
					<div class="tab-pane">
						<ul class="list_ul">
							<CMSPRO_DOCUMENTS id="law_3" DOCUMENTTYPE="0|1|2|3" NUM="6" STARTPOS="0" CHANNELCODE="">

							</CMSPRO_DOCUMENTS>
						</ul>
						<a href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>" class="more" target="_blank">更多>></a>
					</div>
					<div class="tab-pane">
						<ul class="list_ul">
							<CMSPRO_DOCUMENTS id="law_4" DOCUMENTTYPE="0|1|2|3" NUM="6" STARTPOS="0" CHANNELCODE="">

							</CMSPRO_DOCUMENTS>
						</ul>
						<a href="<CMSPRO_CHANNEL FIELD='url' CODE=''></CMSPRO_CHANNEL>" class="more" target="_blank">更多>></a>
					</div>
					<div class="tab-pane">
						<ul class="list_ul">
							<CMSPRO_DOCUMENTS id="law_5" DOCUMENTTYPE="0|1|2|3" NUM="6" STARTPOS="0" CHANNELCODE="">

							</CMSPRO_DOCUMENTS>
						</ul>
						<a href="javascript:;" class="more" target="_blank" onclick="renderTo('zjxflws')">更多>></a>
					</div>
				</div>
			</div>
		</div>
		<div class="ajhz bgfff pd26">
			<div class="w50 fl mr30">
				<dl>
					<dt><a target="_blank" href=""><img src="../../images/12309/ajxxgk/icon9.png" alt=""></a></dt>
					<dd>
						<div class="hzlb">
							<a href="" class="ajhz_tit">重要案件信息总量</a>
							<a href="" class="fr"><i id="impTotalNum">4089190</i>件</a>
						</div>
						<div class="hzlb">
							<a href="" class="ajhz_tit">今日新增</a>
							<a href="" class="fr"><i id="impTodayNum">1268</i>件</a>
						</div>
					</dd>
				</dl>
			</div>
			<div class="w50 fl">
				<dl>
					<dt><a target="_blank" href=""><img src="../../images/12309/ajxxgk/icon10.png" alt=""></a></dt>
					<dd>
						<div class="hzlb ">
							<a href="" class="ajhz_tit colore0">法律文书总量</a>
							<a href="" class="fr"><i id="lawTotalNum">290125</i>件</a>
						</div>
						<div class="hzlb">
							<a href="" class="ajhz_tit colore0">今日新增</a>
							<a href="" class="fr"><i id="lawTodayNum">1268</i>件</a>
						</div>
					</dd>
				</dl>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script type="text/javascript">
		$('.channel_tit3 a').mouseover(function (e) {
			var index = $(this).index();
			$(this).addClass('active').siblings().removeClass('active');
			$('.tab-content3 .tab-pane').eq(index).addClass('on').siblings().removeClass('on');
		})
	</script>
</body>
</html>